*.suo
Internet-Shop/.vs/*
Internet-Shop/packages/*
Internet-Shop/Shop/bin/*
Internet-Shop/Shop/obj/*
Internet-Shop/Shop/obj
Internet-Shop/Shop/bin
bin
obj
packages
.vs
*.dll
*.cache
*.pdb
Internet-Shop/.vs/Internet-Shop/v14/.suo
Internet-Shop/Shop/bin/Shop.dll.config
Internet-Shop/Shop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
